.topBars{
    background-color: hsl(24, 5%, 78%);
    border-bottom: black solid 1rem ;
}
.headers{
    font-weight: bolder;
}

.generate{
    margin-left: 1rem;
    margin-right: 10rem;
    border-radius: 25%;
    border: black solid 1px
}

.sort{
    margin-right: 10rem;
    width: 10rem;
    border-radius: 25%;
    border: black solid 1px
}
.filter{
    border-radius: 25%;
    border: black solid 1px
}


@media screen and (max-width: 1000px){
    .generate{
        margin-right: 2rem;
    }
    .sort{
        margin-right: 0rem;
    }
    .filter{
        margin-left: 1rem;
    }
}