.mainDiv{
    width: 25rem;
    height: 25rem;
    border: solid black 3px;
    margin: 2rem;
    background-color: gray;
}
.headerDiv{
    height: 2rem;
}

.profilePic{
    width: 10rem;
    border: black solid 1px;
   
  
}
.headerName{
    position: relative;
    left: 10rem;
    margin-left: auto;
    bottom:10rem
}
.parentDiv{
    width: 100rem;
   margin-left: auto;
   margin-right: auto;
}
.lowerDiv{
    position: absolute;
    top:10rem;
    width: 23rem;
    background-color: hsl(24, 5%, 78%);
}
.lowerDivFonts{
    font-size: larger;
    font-style: italic;
}
.BaseText{
    font-weight:  bolder;
    font-style: normal;
}